@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic);

body {
  color: #202020;

  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1em;
}

button, input, textarea {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1em;

  outline: none;
}

a {
  color: #00a0e6;
}

  a:hover {
    color: #4dc9ff;
  }

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 2em;
  line-height: 2em;
}

h2 {
  font-size: 1.8em;
  line-height: 1.8em;
}

h3 {
  font-size: 1.6em;
  line-height: 1.6em;
}

h4 {
  font-size: 1.4em;
  line-height: 1.4em;
}

h5 {
  font-size: 1.2em;
  line-height: 1.2em;
}

header {
  display: block;

  height: 100px;
}

  header .logo {
    float: left;

    margin: 23px 30px;
  }

  header .logo img {
    height: 54px;
    width: 140px;
  }

  header .search-for-seller {
    display: block;
    margin-left: 200px;
    padding: 27px 30px 11px 0;
  }

    header .search-for-seller button {
      background-color: #00a0e6;
      border: 1px solid #00a0e6;
      border-left: 0;
      border-radius: 0 5px 5px 0;

      color: #ffffff;
      line-height: 22px;

      display: block;
      padding: 10px 20px;
    }

      header .search-for-seller button:hover {
        background-color: #ffffff;
        color: #00a0e6;
      }

    header .search-for-seller input {
      border: 1px solid #00a0e6;
      border-radius: 5px 0 0 5px;

      line-height: 22px;
      text-overflow: ellipsis;

      display: block;
      float: left;
      padding: 10px 20px;

      width: 600px;
    }

    header .search-for-seller label {
      color: #999999;
      font-size: 12px;

      display: block;
      margin-top: 2px;
    }

#content {
  clear: both;
  padding: 0 50px;
}

  #content h1 + h3 {
    margin-top: -20px;
  }

  #content .rating.table tr.pos {
    color: #009b00;
  }

  #content .rating.table tr.neg {
    color: #ee3e2b;
  }

  #content .rating.table thead td {
    font-size: 12px;
  }

  #content .rating.table td {
    text-align: center;

    padding: 5px 10px;
  }

    #content .rating.table td.rowName {
      color: #202020;
      text-align: left;
    }

  #content .load-seller-rating {
    line-height: 44px;

    clear: both;
    padding: 10px;
    margin-top: 10px;
  }

    #content .load-seller-rating ul {
      list-style-type: none;

      margin: 0;
      margin-right: 40px;
      padding: 0;
    }

    #content .load-seller-rating li {
      line-height: 44px;

      float: left;
      margin-right: 20px;
    }

    #content .load-seller-rating button,
    #content .load-seller-rating .button {
      background-color: #00a0e6;
      border: 1px solid #00a0e6;
      border-radius: 5px;

      color: #ffffff;
      line-height: 22px;

      display: inline-block;
      padding: 5px 20px;
    }

      #content .load-seller-rating button:hover,
      #content .load-seller-rating .button:hover {
        background-color: #ffffff;
        color: #00a0e6;
      }

      #content .load-seller-rating button:disabled {
        background-color: #ffffff;
        border: 1px solid #999999;
        color: #999999;
      }

  #items {
    clear: both;
    display: none;

    width: 100%;
  }

    #items thead {
      border-bottom: 1px solid #999999;

      font-size: 12px;
      text-align: center;
    }

    #items td {
      padding: 5px 10px;
    }

footer {
  display: none;
}
