{% extends "main.html" %}
{# import "ga.macro" as ga #}

{% block content %}
{% if error %}
  <h1 class="error reason">{{ error.reason }}</h1>
  <h3 class="error details">{{ error.details }}</h3>
{% endif %}
{% if seller %}
  <h1 class="seller name" data-seller="{{ seller.name }}">
    Продавец: {{ seller.name }}
    <span class="seller rating">{{ seller.rating }}</span>
  </h1>
  <div class="seller rating table">
    {{ seller.info|safe }}
  </div>
  <form class="load-seller-rating" action=".">
    <ul>
      <li>
        Загрузить:
      </li>
      <li>
        <input checked type="radio" name="count" value="50" />
        <label>50</label>
      </li>
      <li>
        <input type="radio" name="count" value="100" />
        <label>100</label>
      </li>
      <li>
        <input type="radio" name="count" value="200" />
        <label>200</label>
      </li>
      <li>
        <input type="radio" name="count" value="500" />
        <label>500</label>
      </li>
      <li>
        <input type="radio" name="count" value="1000" />
        <label>1000</label>
      </li>
      <li>
        <input type="radio" name="count" value="9999" />
        <label>Все</label>
      </li>
    </ul>
    <input type="hidden" name="seller_id" value="{{ seller.id }}" />
    <button type="submit">Загрузить</button>
    <button class="export" disabled>Экспорт в Excel</button>
  </form>
  <table id="items">
    <thead>
      <tr>
        <td>Дата покупки</td>
        <td>Название товара</td>
        <td>Цена</td>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
{% endif %}
{# ga.script()|safe #}
{% endblock %}
